<nav class="navbar navbar-light bg-light">
    <div class="container-md">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Clear Chat History
            </button>
            <ul class="dropdown-menu">
                <li><a class="btn btn-light" type="button"  href="/">Clear</a></li>
                <!--li><a class="btn btn-light" type="button" href="/image">Image Generator</a></li-->
            </ul>
        </div>
    </div>
</nav>
    
